:root {
    /*Color Palette*/
    --primary-color: #4D9940;
    --secondary-color: #7e7e7e;
    --font-color: #343434;
    --white: #fcfcfc;
    /*Desktop Sizes*/
    --gap-xs: 0.5rem;
    --gap-s: 1rem;
    --gap-m: 2rem;
    --gap-l: 3rem;
    --gap-xl: 4rem;
    --gap-xxl: 5rem;
    --gap-xxxl: 10rem;
    /*Mobile Sizes*/
    --gap-mob-s: 0.3rem;
    --gap-mob-l: 0.7rem;
}

/*Fonts*/
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/**1. General**/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--gap-s);
    background-color: #f1f1f1;
}

.container-event {
    background-color: white;
    max-width: 1200px;
}
/**resets**/
img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container {
    margin-inline: auto;
    max-width: 100%;
    padding: var(--gap-s);
}

.ul__reset {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: var(--gap-s);
}

.link__reset {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/**others **/

.green__text {
    color: var(--primary-color);
}

.grey__text {
    color: var(--secondary-color);
}

.green__tags {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: var(--gap-l);
    display: inline-block;
    padding-inline: var(--gap-s);
    font-size: 0.9rem;
}

.icons {
    width: 1.5rem;
    height: 1.5rem;
}

/**buttons**/
.button-reset {
    border: none;
    background: none;
}

.white__button {
    text-align: center;
    padding: 1rem;
    font-size: var(--gap-xs);
}

.readmore-button {
    text-align: center;
    padding-block: var(--gap-xs);
    padding-inline: var(--gap-m);
    border: 1px solid var(--primary-color);
    border-radius: 0.2rem;
    margin-top: var(--gap-s);
}

.button-green {
    background: var(--primary-color);
    color: var(--white);
    padding: var(--gap-s);
    border-radius: 0.2rem;
    border: 1px solid var(--secondary-color);
}

.button-grey {
    padding: var(--gap-s);
    border-radius: 0.2rem;
    border: 1px solid var(--secondary-color);
}

.button-hover:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.button-orange {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding-inline: var(--gap-xxl);
    padding-block: var(--gap-s);
}
/**2. Components**/

/**Header**/
.mobile__menu {
    display: none;
}

.header__container {
    background-color: var(--white);
    box-sizing: border-box;
    border-bottom: 1px solid #7e7e7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--gap-xs);
    padding-inline: 3rem;
    gap: var(--gap-s);
    .header__logo{
        display: block;
    }
}

.header__nav {
    display: block;

}

.header__nav__ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__search {
    color: #4A4A4A;
    display: flex;
    align-items: center;
}

.li__button {
    background-color: #4D9940;
    color: white;
    font-weight: bold;
    padding-inline: var(--gap-s);
    padding-block: var(--gap-xs);
    border-radius: var(--gap-s);
}

.header__nav__li {
    margin: 0;
    padding: 0;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}
/**Description Top**/

.event-banner {
    max-width: 1000px;

}

.event-banner__img {
    position: relative;
    top: var(--gap-xl);
}

.event-page {
    margin-block: var(--gap-xl);
    padding-inline: var(--gap-xxxl);
}

.event-description-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-time__container__text{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;

}

.event-tittle__container {
    flex-grow: 1;
    margin-left: var(--gap-s);
}

.event-tittle {
    color: #343434;
    padding-bottom: 0;
    margin-bottom: 0;
}

.event-summary {
    font-size: var(--gap-s);
    color: #7e7e7e;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

/**Description Bottom**/
/**Grid**/
.event-description-bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: var(--gap-s);
    grid-column-gap:var(--gap-l);
    margin-top: var(--gap-l);
}

.details-text-area {
    grid-column-start: 1;
    grid-column-end: 2;

}

.details-aside {
    grid-column-start: 3;
    grid-column-end: 2;
    justify-self: end;

}

.description-area__text {
    border-bottom: 1px solid #7e7e7e;
    padding-bottom: var(--gap-s);
}

.description-area__text__title {
        font-size: 1.5rem;
        margin-block: var(--gap-s);
    }

.organizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-s);
    margin: var(--gap-s);

}

.organizer__logo {
    width: 6rem;
    border: 1px solid #7e7e7e;
}

.organizer__name {
    flex-grow: 1;

}

.organizer__name-h5 {
    font-size: 0.8rem;
    color: #7e7e7e;
    padding-top: var(--gap-xs);

}

.location {
    border-top: 1px solid #7e7e7e;
    padding-top: var(--gap-s);
}

.details-aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    font-size: var(--gap-s);
    color: var(--secondary-color);
    }

.aside-ticket__tittle {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    margin-bottom: var(--gap-s);
}

/**Related Events**/

.related-events-global {
    background-color: #282828;
    text-align: center;
    padding: var(--gap-l);
}

.related-events{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.related-events__title {
    color: white;
}

.events-info {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: var(--gap-xs);
    padding: var(--gap-s);
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: var(--gap-s);
    max-width: 350px;
    max-height: 300px;

}

.small-banner__img {
    display: block;
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.event-summary__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
}

.event-time {
    font-weight: bold;
    color: #555859;
}

.event-place {
    font-size: 0.7rem;
}

.event-tittle {
    font-size: var(--gap-s);
    font-weight: bold;
    text-align: justify;
}

/**Sticky**/

.buy_sticky {
    position: sticky;
    bottom: 0;
    margin: 0 auto;
    border-top: 1px solid var(--secondary-color);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-inline: var(--gap-m);
}


/**Footer**/

.footer-global {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    padding-block: var(--gap-l);
    padding-inline: 5rem;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.footer-button {
    display: inline-block;
    flex-direction: row-reverse;
}

.button-footer {
    padding: var(--gap-s);
    border: none;
    background: #9d9c9c;
    position: relative;
    left: 944px;
    z-index: 1;
    top: 73px;
}

.footer-language {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-nav {
    margin-top: var(--gap-m);
}